<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>NewMatch</servlet-name>
        <servlet-class>Controller.Servlets.NewMatch</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewMatch</servlet-name>
        <url-pattern>/new-match</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>jsp-start</servlet-name>
        <jsp-file>/start.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
                <servlet-name>jsp-start</servlet-name>
                <url-pattern>/jsp-start</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MatchScore</servlet-name>
        <servlet-class>Controller.Servlets.MatchScore</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MatchScore</servlet-name>
        <url-pattern>/match-score/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>match-jsp</servlet-name>
        <jsp-file>/match.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>match-jsp</servlet-name>
        <url-pattern>/match.jsp</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>Filter</filter-name>
        <filter-class>Controller.Servlets.Filter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Filter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>
</web-app>